body {
	background-color: silver;
}
/* input:invalid {
	border: 2px dashed red;
} */
code {
	font-size: 16px;
	background-color: darkslategrey;
	color: yellow;

	white-space: pre;
	display: block;
	padding: 20px;
	/* margin: 10px 0; */
	width: 700px;
	/* height: 200px; */
}